version: '3.8'
services:
  postgres:
    image: postgres:13
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
  
  airflow-webserver:
    build: .
    restart: always
    depends_on:
      - postgres
    volumes:
      - ./dags:/opt/airflow/dags
      - ./src:/opt/airflow/plugins/src  # Allows you to 'import src' in your DAGs
      - ./data:/opt/airflow/data
    ports:
      - "8080:8080"
    command: webserver